.password_less__container
  = render 'products/productheader'
  %main.password_less__main
    %section.password_less__main__container
      %h2.password_less__main__container-head パスワードをお忘れの方
      %form.password_less__main__container-inner{:action => "##", :method => "POST"}
        .password_less__main__container-inner-content
          .password_less__main__container-inner-content-group
            %label{:for => "email"} メールアドレス
            %input.password_less__main__container-inner-content-group-input{:name => "email", :placeholder => "ご登録されたメールアドレス", :type => "email"}/
            %p.password_less__main__container-inner-content-group-info ご登録されたメールアドレスにパスワード再設定のご案内が送信されます。
          .password_less__main__container-inner-content-group
            .g-recaptcha.signup-recaptcha{'data-sitekey' => '6LfZGCYTAAAAAHoK-s7Lg5OdYg5Fq4susvALmZoc'}
              %div{style: 'width: 304px; height: 78px;'}
                %div
                  %iframe{frameborder: '0', height: '78', name: 'a-jov7aoxhnxwv', role: 'presentation', sandbox: 'allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox', scrolling: 'no', src: 'https://www.google.com/recaptcha/api2/anchor?ar=1&k=6LfZGCYTAAAAAHoK-s7Lg5OdYg5Fq4susvALmZoc&co=aHR0cHM6Ly93d3cubWVyY2FyaS5jb206NDQz&hl=ja&v=v1548052318968&size=normal&cb=drfgcsl11d6k', width: '304'}
          %button.password_less__btn{type: "submit"} 送信する
  = render 'products/productfooter'
