%main.contents
  = render 'products/topheader'

%main.l-container.clearfix
  .l-content
    %section.l-chapter-container
      %h2.l-chapter-head 支払い方法
      .l-single-inner
        %section.l-single-section
          .l-single-content
            %h3.l-chapter-sub-head クレジットカード一覧
          %ul.settings-payment-list
        %section.settings-add-card
          .l-single-content
            %a.btn-default.btn-red.submit_button{href: "/users/purchase"}
              %i.fa.fa-credit-card クレジットカードを追加する
        .settings-not-regist
          %a.go-help-center{href: "/jp/help_center/category/6/", target: "_blank"}
            %span 支払い方法について
            %i.fa.fa-chevron-right

  .l-side
    = render 'user-sidebar'
  = render 'products/topcellbtn'

= render 'products/topfooter'
