<main class="l-container clearfix">
  <div class="l-content">
    <section class="mypage-user-icon">
      <a href="https://www.mercari.com/jp/u/750582472/">
        <figure>
          <img src="//static-mercari-jp-imgtr2.akamaized.net/thumb/members/750582472.jpg?1504525897" alt="" width="60" height="60">
        </figure>
        <h2 class="bold">yuko</h2>
        <div class="mypage-number">
          <div>評価 <span class="bold">1</span></div>
          <div>出品数 <span class="bold">0</span></div>
        </div>
       </a>
    </section>
    <section class="mypage-tab-container">
      <input id="tab1" type="radio" name="tab_btn" checked>
      <input id="tab2" type="radio" name="tab_btn">
      <div class="mypage-tabs"><!--
    --><label class="tab1_label" for="tab1">お知らせ</label><!--
    --><label class="tab2_label" for="tab2">やることリスト</label><!--
  --></div>
      <div class="tab-content">
        <ul id="panel1" class="mypage-item-list tab-pane">
          <li>
            <a href="" class="mypage-item-link" data-open="modal" data-modal="banner">
              <figure>
                <img data-src="//static-mercari-jp-imgtr2.akamaized.net/images/mercari_profile.png" class=" lazyloaded" alt="" src="//static-mercari-jp-imgtr2.akamaized.net/images/mercari_profile.png" width="48px" height="48px">
              </figure>
              <div class="mypage-item-body">
                <div class="mypage-item-text">
                  明日、5%割引クーポンの有効期限が切れます！タップして詳細を確認しましょう。
                </div>
                <time><i class="fa icon-time"></i><span>1 日前</span></time>
              </div>
              <i class="fa fa-chevron-right"></i>
            </a>
          </li>
          <li>
            <a href="" class="mypage-item-link" data-open="modal" data-modal="banner">
              <figure>
                <img data-src="//static-mercari-jp-imgtr2.akamaized.net/images/mercari_profile.png" class=" lazyloaded" alt="" src="//static-mercari-jp-imgtr2.akamaized.net/images/mercari_profile.png">
              </figure>
              <div class="mypage-item-body">
                <div class="mypage-item-text">
                  2日後、5%割引クーポンの有効期限が切れます！タップして詳細を確認しましょう。
                </div>
                <time><i class="icon-time"></i><span>2 日前</span></time>
              </div>
              <i class="fa fa-chevron-right"></i>
            </a>
          </li>
          <li class="mypage-go-list">
            <a href="/jp/mypage/notification/">一覧を見る</a>
          </li>
        </ul>
        <ul id="panel2" class="mypage-item-list tab-pane">
          <li class="mypage-item-not-found bold">現在、やることリストはありません</li>
        </ul>
      </div>
    </section>
    <section class="mypage-tab-container">
      <input id="tab3" type="radio" name="tab_btn2" checked>
      <input id="tab4" type="radio" name="tab_btn2">
      <h2 class="mypage-tab-head">購入した商品</h2>
      <ul class="mypage-tabs">
        <label class="tab3_label" for="tab3">取引中</label><!--
     --><label class="tab4_label" for="tab4">過去の取引</label><!--
  --></ul>
      <div class="tab-content">
        <ul id="panel3" class="mypage-item-list tab-pane">
          <li class="mypage-item-not-found bold">取引中の商品がありません</li>
        </ul>
        <ul id="panel4" class="mypage-item-list tab-pane">
          <li class="mypage-item-not-found bold">取引中の商品がありません</li>
        </ul>
      </div>
    </section>
    </div>

  <div class="l-side">
    <nav class="mypage-nav">
      <ul class="mypage-nav-list">
        <li>
          <a href="/jp/mypage/" class="mypage-nav-list-item active">
            マイページ
            <i class="fa fa-chevron-right"></i>
          </a>
        </li>
        <li>
          <a href="/jp/mypage/notification/" class="mypage-nav-list-item ">
            お知らせ
            <span class="mypage-nav-number">
              99+
            </span>
            <i class="fa fa-chevron-right"></i>
          </a>
        </li>

        <li>
          <a href="/jp/mypage/todo/" class="mypage-nav-list-item ">
            やることリスト
            <i class="fa fa-chevron-right"></i>
          </a>
        </li>

        <li>
          <a href="/jp/mypage/like/history/" class="mypage-nav-list-item ">
            いいね！一覧
            <i class="fa fa-chevron-right"></i>
          </a>
        </li>

        <li>
          <a href="/jp/sell/" class="mypage-nav-list-item">
            出品する
            <i class="fa fa-chevron-right"></i>
          </a>
        </li>

        <li>
          <a href="/jp/mypage/listings/listing/" class="mypage-nav-list-item ">
            出品した商品 - 出品中
            <i class="fa fa-chevron-right"></i>
          </a>
        </li>

        <li>
          <a href="/jp/mypage/listings/in_progress/" class="mypage-nav-list-item ">
            出品した商品 - 取引中
            <i class="fa fa-chevron-right"></i>
          </a>
        </li>

        <li>
          <a href="/jp/mypage/listings/completed/" class="mypage-nav-list-item ">
            出品した商品 - 売却済み
            <i class="fa fa-chevron-right"></i>
          </a>
        </li>

        <li>
          <a href="/jp/mypage/purchase/" class="mypage-nav-list-item ">
            購入した商品 - 取引中
            <i class="fa fa-chevron-right"></i>
          </a>
        </li>

        <li>
          <a href="/jp/mypage/purchased/" class="mypage-nav-list-item ">
            購入した商品 - 過去の取引
            <i class="fa fa-chevron-right"></i>
          </a>
        </li>

        <li>
          <a href="/jp/mypage/news/" class="mypage-nav-list-item ">
            ニュース一覧
            <i class="fa fa-chevron-right"></i>
          </a>
        </li>

        <li>
          <a href="/jp/mypage/review/history/" class="mypage-nav-list-item ">
            評価一覧
            <i class="fa fa-chevron-right"></i>
          </a>
        </li>

        <li>
          <a href="/jp/help_center/" class="mypage-nav-list-item">
            ガイド
            <i class="fa fa-chevron-right"></i>
          </a>
        </li>

        <li>
          <a href="/jp/mypage/support/" class="mypage-nav-list-item ">
            お問い合わせ
            <i class="fa fa-chevron-right"></i>
          </a>
        </li>
    </ul>

    <h3 class="mypage-nav-head">売上・ポイント</h3>
      <ul class="mypage-nav-list">
        <li>
          <a href="/jp/mypage/sales/" class="mypage-nav-list-item ">
            売上・振込申請
            <i class="fa fa-chevron-right"></i>
          </a>
        </li>

        <li>
          <a href="/jp/mypage/point/" class="mypage-nav-list-item ">
            ポイント
            <i class="fa fa-chevron-right"></i>
          </a>
        </li>
      </ul>

    <h3 class="mypage-nav-head">設定</h3>
      <ul class="mypage-nav-list">
        <li>
          <a href="/jp/mypage/profile/" class="mypage-nav-list-item ">
            プロフィール
            <i class="fa fa-chevron-right"></i>
          </a>
        </li>

        <li>
          <a href="/jp/mypage/deliver_address/" class="mypage-nav-list-item ">
            住所変更
            <i class="fa fa-chevron-right"></i>
          </a>
        </li>

        <li>
          <a href="/jp/mypage/card/" class="mypage-nav-list-item ">
            支払い方法
            <i class="fa fa-chevron-right"></i>
          </a>
        </li>

        <li>
          <a href="/jp/mypage/email_password/" class="mypage-nav-list-item ">
            メール/パスワード
            <i class="fa fa-chevron-right"></i>
          </a>
        </li>

        <li>
          <a href="/jp/mypage/identification/" class="mypage-nav-list-item ">
            本人情報
            <i class="fa fa-chevron-right"></i>
          </a>
        </li>

        <li>
          <a href="/jp/mypage/sms_confirmation/" class="mypage-nav-list-item ">
            電話番号の確認
            <i class="fa fa-chevron-right"></i>
          </a>
        </li>

        <li>
          <a href="/jp/logout/" class="mypage-nav-list-item ">
            ログアウト
            <i class="fa fa-chevron-right"></i>
          </a>
        </li>
     </ul>
    </nav>
  </div>
</main>
