<body class = item_information_body>

  <div class = item_information_main>

    <h1 class = item-name>火星 新品 大特価 一点限り 買えるのは今だけ！！！</h1>

    <div class = item-main-content>

      <div class = item-photo>
        <div class = main-photo>
          <img src="assets/kasei.jpg" width="300" height="300">
        </div>
        <div class = sub-photo-space>
            <img src="assets/kasei2.png" width="75" height="75"><img src="assets/kasei2.png" width="75" height="75"><img src="assets/kasei2.png" width="75" height="75"><img src="assets/kasei2.png" width="75" height="75">
        </div>
      </div>

      <table class="item-detail-table">
        <tbody>
          <tr>
            <th>出品者</th>
            <td>
              <a href="#">神</a>
              <div class = "face-icon">
                <div class="item-user-ratings-smile my-pink">
                  <i class="fas fa-grin"></i>
                  <span>805</span>
                </div>
                <div class="item-user-ratings-normal my-yellow">
                  <i class="fas fa-meh"></i>
                  <span>25</span>
                </div>
                <div class="item-user-ratings-bad my-skyblue">
                    <i class="fas fa-frown-open"></i>
                    <span>3</span>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <th>カテゴリー</th>
            <td>
              <a href="#"><div>宇宙</div></a>
              <a href="#"><div class="item-detail-table-sub-sub-category"><i class="fas fa-angle-right my-skyblue"></i></i> 惑星</div></a>
              <a href="#"><div class="item-detail-table-sub-sub-category"><i class="fas fa-angle-right my-skyblue"></i></i> 太陽系</div></a>
            </td>
          </tr>
          <tr>
            <th>ブランド</th>
            <td>
              <a href="#"><div>太陽系</div></a>
            </td>
          </tr>
          <tr>
            <th>商品の状態</th>
            <td>暑いです</td>
          </tr>
          <tr>
            <th>配送料の負担</th>
            <td>送料込み(出品者負担)</td>
          </tr>
          <tr>
            <th>配送の方法</th>
            <td>らくらくメルカリ便</td>
          </tr>
          <tr>
            <th>配送元地域</th>
            <td><a href="#">宇宙</a></td>
          </tr>
          <tr>
            <th>発送日の目安</th>
            <td>1万~2万日で発送</td>
          </tr>
        </tbody>
      </table>

    </div>

    <div class="item-price-box">
      <span class="item-price">¥ 999,999,999</span>
      <span class="item-tax"> (税込)</span>
      <span class="item-shipping-fee">送料込み</span>
    </div>

    <div class = "buy-btn">
      購入画面に進む
    </div>

    <div class = "item-description">
      火星です。<br>
      住めます。<br>
    </div>

    <div class="item-button-container">
      <div class="item-button-left">

        <button type="button" name="like!" data-toggle="like" data-id="m34676765116" data-ga="element" data-ga-category="LIKE" data-ga-label="like!" class="like-button">
          <i class="far fa-heart"></i>
          <span>いいね!</span>
          <span data-num="like" class="fade-in-down">0</span>
        </button>

        <div class = arart-button>
          <a href="" data-modal="report-item" data-open="modal" class="arart-button-text">
            <i class="far fa-flag"></i>
            <span>不適切な商品の報告</span>
          </a>
        </div>

      </div>

      <div class="item-button-right">
        <a href="https://www.mercari.com/jp/safe/description/" target="_blank" class ="item-button-right-text">
          <i class="fas fa-lock"></i>
          <span>あんしん・あんぜんへの取り組み</span>
        </a>
      </div>
    </div>
  </div>

  <div class = next-item-wrapper>
    <ul class="nav-item-link-prev-next">
      <li class="nav-item-link-prev">
        <a href="https://item.mercari.com/jp/m98983858938/" class = nav-item-link-prev-text>
        <i class="fas fa-angle-left"></i>ドラえもん</a>
      </li>
      <li class="nav-item-link-next">
        <a href="https://item.mercari.com/jp/m11056183429/" class = nav-item-link-next-text>おまんじゅう
        <i class="fas fa-angle-right"></i></a>
      </li>
    </ul>
  </div>

  <div class = sns-btn-wrapper>
    <ul class="social-media-box">
      <li class="sns-btn-facebook">
        <a href="#" target="_blank" class="share-btn-facebook" data-window-name="facebook_window">
          <i class="fab fa-facebook fa-3x my-blue"></i>
        </a>
      </li>
      <li class="sns-btn-twitter">
        <a href="#" target="_blank" class="share-btn-twitter" data-window-name="twitter_window">
          <i class="fab fa-twitter-square fa-3x my-skyblue"></i>
        </a>
      </li>
      <li class="sns-btn-line">
        <a href="#" target="_blank" class="share-btn-line" data-window-name="line_window">
        <i class="fab fa-line fa-3x my-green"></i>
        </a>
      </li>
      <li class="sns-btn-pintarest">
        <a href="#" target="_blank" class="share-btn-pintarest" data-window-name="pinterest_window">
          <i class="fab fa-pinterest-square fa-3x my-red"></i>
        </a>
      </li>
    </ul>
  </div>

  <div class = items-in-user-profile>
    <h2>神さんのその他の出品</h2>
  </div>


</body>
