%body.mypage_identification
  .mypage_identification_main
    .mypage_identification_main_header
      %h3.mypage_identification_main_header_header 本人情報の登録
      %p.mypage_identification_main_header_info お客様のあんしん・あんぜんな取引のため、本人情報のご登録をお願いしております
    .mypage_identification_form
      .mypage_identification_form_group_head
        %label お名前
        %span.form-require 必須
        %input.entry-form{:name => "First_Name", :type => "text"}/
        %input.entry-form{:name => "Last_Name", :type => "text"}/
      .mypage_identification_form_group
        %label お名前カナ
        %span.form-require 必須
        %input.entry-form{:name => "First_Name", :type => "text"}/
        %input.entry-form{:name => "Last_Name", :type => "text"}/
      .mypage_identification_form_group
        %label 郵便番号
        %span.form-select 任意
        %input.entry-form{:name => "postnumber", :type => "text"}/
      .mypage_identification_form_group
        %label 都道府県
        %span.form-require 必須
        %select.select-Prefecture{:name => "Prefecture"}
          %option{:value => ""} --
          %option 北海道
          %option 青森県
          %option 岩手県
          %option 宮城県
          %option 秋田県
          %option 山形県
          %option 福島県
          %option 東京都
          %option 神奈川県
          %option 埼玉県
          %option 千葉県
          %option 茨城県
          %option 栃木県
          %option 群馬県
          %option 山梨県
          %option 新潟県
          %option 長野県
          %option 富山県
          %option 石川県
          %option 福井県
          %option 愛知県
          %option 岐阜県
          %option 静岡県
          %option 三重県
          %option 大阪府
          %option 兵庫県
          %option 京都府
          %option 滋賀県
          %option 奈良県
          %option 和歌山県
          %option 鳥取県
          %option 島根県
          %option 岡山県
          %option 広島県
          %option 山口県
          %option 徳島県
          %option 香川県
          %option 愛媛県
          %option 高知県
          %option 福岡県
          %option 佐賀県
          %option 長崎県
          %option 熊本県
          %option 大分県
          %option 宮崎県
          %option 鹿児島県
          %option 沖縄県
      .mypage_identification_form_group
        %label 市区町村
        %span.form-require 必須
        %input.entry-form{:name => "city_name", :type => "text"}/
      .mypage_identification_form_group
        %label 番地
        %span.form-require 必須
        %input.entry-form{:name => "city_name", :type => "text"}/
      .mypage_identification_form_group
        %label 建物名
        %span.form-select 任意
        %input.entry-form{:name => "city_name", :type => "text"}/
      .mypage_identification_form_group
        %label 生年月日
        %span.form-require 必須
        .select-wrapper
          .select-wrapper_year
            %select#year.select-default
              %option{:value => "0"} --
              - 119.times do |i|
              - i += 1900 + 1
                %option{:value => "0"} #{i}
            %span.year_month_date 年
          .select-wrapper_month
            %select#month.select-default
              %option{:value => "0"} --
              - 12.times do |i|
              - i += 1
                %option{:value => "0"} #{i}
            %span.year_month_date 月
          .select-wrapper_month
            %select#day.select-default
              %option{:value => "0"} --
              - 31.times do |i|
              - i += 1
                %option{:value => "0"} #{i}
            %span.year_month_date 日
      .sell_description
        ※出品されたことがある、本人情報未登録のお客さまもご対象となります。
      .confirmation_button
        登録する
      %p.about-mypage_identification
        %a.about-mypage_identification_description{:href => "#"} 本人情報登録について &gt;
        %span
