%body.mypage_identification_body
  .mypage_identification_main
    .mypage_identification_header
      %h3.mypage_identification_header_header 本人情報の登録
      %p.mypage_identification_header_info お客様のあんしん・あんぜんな取引のため、本人情報のご登録をお願いしております
    .mypage_identification_form
      .mypage_identification_form_group_head
        %label お名前
        %span.form-require 必須
        %input.entry-form{:name => "First_Name", :type => "text"}/
        %input.entry-form{:name => "Last_Name", :type => "text"}/
      .mypage_identification_form_group
        %label お名前カナ
        %span.form-require 必須
        %input.entry-form{:name => "First_Name", :type => "text"}/
        %input.entry-form{:name => "Last_Name", :type => "text"}/
      .mypage_identification_form_group
        %label 郵便番号
        %span.form-select 任意
        %input.entry-form{:name => "postnumber", :type => "text"}/
      .mypage_identification_form_group
        %label 都道府県
        %span.form-require 必須
        %select.select-Prefecture{:name => "Prefecture"}
          %option{:value => ""} --
          %option 北海道
          %option 青森県
          %option 岩手県
          %option 宮城県
          %option 秋田県
          %option 山形県
          %option 福島県
          %option 東京都
          %option 神奈川県
          %option 埼玉県
          %option 千葉県
          %option 茨城県
          %option 栃木県
          %option 群馬県
          %option 山梨県
          %option 新潟県
          %option 長野県
          %option 富山県
          %option 石川県
          %option 福井県
          %option 愛知県
          %option 岐阜県
          %option 静岡県
          %option 三重県
          %option 大阪府
          %option 兵庫県
          %option 京都府
          %option 滋賀県
          %option 奈良県
          %option 和歌山県
          %option 鳥取県
          %option 島根県
          %option 岡山県
          %option 広島県
          %option 山口県
          %option 徳島県
          %option 香川県
          %option 愛媛県
          %option 高知県
          %option 福岡県
          %option 佐賀県
          %option 長崎県
          %option 熊本県
          %option 大分県
          %option 宮崎県
          %option 鹿児島県
          %option 沖縄県
      .mypage_identification_form_group
        %label 市区町村
        %span.form-require 必須
        %input.entry-form{:name => "city_name", :type => "text"}/
      .mypage_identification_form_group
        %label 番地
        %span.form-require 必須
        %input.entry-form{:name => "city_name", :type => "text"}/
      .mypage_identification_form_group
        %label 建物名
        %span.form-select 任意
        %input.entry-form{:name => "city_name", :type => "text"}/
      .mypage_identification_form_group
        %label 生年月日
        %span.form-require 必須
        .select-wrapper
          .select-wrapper_year
            %select#year.select-default
              %option{:value => "0"} --
            %span.year_month_date 年
          .select-wrapper_month
            %select.select-default{:name => "month"}
              %option{:value => ""} --
              %option{:value => "1"} 1
              %option{:value => "2"} 2
              %option{:value => "3"} 3
              %option{:value => "4"} 4
              %option{:value => "5"} 5
              %option{:value => "6"} 6
              %option{:value => "7"} 7
              %option{:value => "8"} 8
              %option{:value => "9"} 9
              %option{:value => "10"} 10
              %option{:value => "11"} 11
              %option{:value => "12"} 12
            %span.year_month_date 月
          .select-wrapper_month
            %select.select-default{:name => "day"}
              %option{:value => ""} --
              %option{:value => "1"} 1
              %option{:value => "2"} 2
              %option{:value => "3"} 3
              %option{:value => "4"} 4
              %option{:value => "5"} 5
              %option{:value => "6"} 6
              %option{:value => "7"} 7
              %option{:value => "8"} 8
              %option{:value => "9"} 9
              %option{:value => "10"} 10
              %option{:value => "11"} 11
              %option{:value => "12"} 12
              %option{:value => "13"} 13
              %option{:value => "14"} 14
              %option{:value => "15"} 15
              %option{:value => "16"} 16
              %option{:value => "17"} 17
              %option{:value => "18"} 18
              %option{:value => "19"} 19
              %option{:value => "20"} 20
              %option{:value => "21"} 21
              %option{:value => "22"} 22
              %option{:value => "23"} 23
              %option{:value => "24"} 24
              %option{:value => "25"} 25
              %option{:value => "26"} 26
              %option{:value => "27"} 27
              %option{:value => "28"} 28
              %option{:value => "29"} 29
              %option{:value => "30"} 30
              %option{:value => "31"} 31
            %span.year_month_date 日
        .sell_description
          ※出品されたことがある、本人情報未登録のお客さまもご対象となります。
        .confirmation_button
          登録する
        %p.about-mypage_identification
          %a.about-mypage_identification_description{:href => "#"} 本人情報登録について &gt;
          %span
    :javascript
      var time = new Date();
      var year = time.getFullYear();
      for (var i = year; i >= 1900; i--) {
        createOptionElements(i,'year');
      }
      function createOptionElements(num,parentId){
          var doc = document.createElement('option');
          doc.value = doc.innerHTML = num;
          document.getElementById(parentId).appendChild(doc);
      }
