.products_new_contents_header {
  padding: 0;

    .products_new_content-header {
      text-align: center;

        h1.products_new_word_h1 {
          display: inline-block;
          margin: 11px 0 12px;

            a.products_new_content_a_header {
            display: inline-block;
            width: 120px;
            height: 33px;
            margin: 0 8px 0 0;
            line-height: 33px;
            }
        }
    }
}
