.my-blue{
  color:#003366
}

.my-skyblue{
  color:#00CCFF;
}

.my-green{
  color:#00FF00;
}

.my-red{
  color:#880000;
}

.my-pink{
  color:#FF3366;
}

.my-yellow{
  color:#FF9900;
}

a{
  text-decoration: none;
  color:#006699;
}

.item_information{
  background-color:#EEEEEE;
  padding-top:40px;
  &_main{
    background-color:white;
    width:700px;
    height:100%;
    margin: 0 auto;
    padding:24px 40px 40px 40px;
    box-sizing: border-box;
    .item-name{
      text-align: center;
      font-size:24px;
    }
    .item-main-content{
      margin-top:16px;
      width:620px;
      height:375px;
      .item-photo{
        float:left;
        width:300px;
        height:375px;
        font-size:0;
        &_main{
          height:300px;
          width:300px;
        }
        &_sub{
          height:75px;
          width:300px;
        }
      }
      .item-detail-table{
        float:right;
        margin-left: auto;
        height: 375px;
        width: 300px;
        font-size:14px;
        font-style: normal;
        border-collapse: collapse;
        border:1px solid #CCCCCC;
          th{
          width:118px;
          padding:0px;
          border-collapse: collapse;
          border:1px solid #CCCCCC;
          background-color:#EEEEEE;
          }
          td{
          width:182px;
          border-collapse: collapse;
          padding:8px;
          border:1px solid #CCCCCC;
          text-decoration: none;
          }
        .face-icon{
          display: block;
          .item-user-ratings{
            display: inline-block;
            span{
              color:black;
            }
          }
        }
      }
    }
    .item-price-box{
      margin-top:24px;
      text-align: center;
      &-rate{
        font-size:50px;
        font-weight: bold;
      }
      &-price{
        font-size:50px;
        font-weight: bold;
      }
      &-tax{
        font-size:10px;
      }
      &-shipping-fee{
        font-size:16px;
      }
    }
    .buy-btn{
      background-color:red;
      width:620px;
      height:60px;
      line-height: 60px;
      color:white;
      text-align: center;
      font-size:24px;
      margin-top:16px;
    }
    .item-description{
      padding-top:24px;
      font-size:18px;
    }
    .item-button-container{
      margin-top:16px;
      display:inline-block;
      width:100%;
      &-left{
        float:left;
        .like-button{
          border: none;
          cursor: pointer;
          outline: none;
          padding: 0;
          appearance: none;
          font-size:14px;
          height:35px;
          width:120px;
          padding:8px 16px;
          background-color:#EEEEEE;
          border-radius: 20px;
        }
        .arart-button{
          display: inline-block;
          cursor: pointer;
          appearance: none;
          font-size:14px;
          padding:8px 16px;
          background-color:#EEEEEE;
          border-radius: 20px;
          &-text{
            text-decoration: none;
            color:black;
          }
        }
      }
      &-right{
        float:right;
        &-text{
          text-decoration: none;
          color: #006699;
          font-size:14px;
          line-height:37px;
        }
      }
    }
  }
}

.next-item-wrapper{
  width:700px;
  height:50px;
  margin:0 auto;
  .nav-item-link{
    list-style: none;
    margin-top:24px;
    margin-bottom: 0px;
    padding-left: 0px;
    &-prev{
      float: left;
      &-text{
        text-decoration: none;
      }
    }
    &-next{
      float: right;
      &-text{
        text-decoration: none;
      }
    }
  }
}

.sns-btn-wrapper{
  height:82px;
  padding: 32px 0px 24px 0px;
  margin: 24px auto;
  background-color:white;
  width:700px;
  text-align: center;
  .social-media-box{
    height:60px;
    width:500px;
    padding-left:0px;
    display: inline-block;
    .sns-btn{
      list-style: none;
      display: inline-block;
      &-icon{
        text-decoration: none;
      }
    }
  }
}

.items-in-user-profile{
  width:700px;
  height:100%;
  margin:0 auto;
}

.main-image{
  background-size: cover;
  height: 300px;
  width: 300px;
}

.sub-image{
  background-size: cover;
  height: 75px;
  width: 75px;
  display: inline-block;
}
