@media screen and (min-width: 1068px){
  .header__all {
    width: 1020px;
  }
}

@media screen and (max-width: 1067px){
  .header__all {
    width: 700px;
  }
}

.l-left{
  float: left;
}

.l-right{
  float: right;
}

.input-default2{
  border-radius: 4px;
  border:1px solid #ccc;
  width:840px;
  height: 36px;
  padding: 9px 32px 9px 8px;
  background: #fafafa;
  box-sizing: border-box;
}

.search-form{
  float:right;
}

.btn-search{
  float:right;
  width:36px;
  height: 36px;
  background: #fafafa;
  border-radius: 4px;
}

.fa-search{
  width: 36px;
  line-height: 36px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
}

.fa-bell-o{
  font-size: 17px;
  display: inline-block;
  font-style: normal;
}

.fa-check {
  font-size: 16px;
  display: inline-block;
  font-style: normal;
}

.clearfix{
  @include clearfix();
}

.header{
  background: #f5f5f5;
  @include clearfix();

  &__all{
	margin:0 auto;
	padding: 8px 0 0;
  }

  &__form{
	position: relative;
	width: calc(100% - (134px + 16px));
  }

  &__nav{
	&-box{
	  // margin: 8px 0 0;
	  // @include clearfix();
    }
    li{
	  // position: relative;
	  // display: inline-block;
	  // padding: 0 0 0 16px;
	  // vertical-align: middle;
    max-height: 38px;
	}

	a{
	  color:#333;
	  font-size: 14px;
	  font-weight: 400;
	}
	&-root{
	  position: relative;
	  height: 38px;
	  line-height: 32px;

	  figure{
    	display: inline-block;
		position: relative;
		width: 32px;
		height: 32px;
		vertical-align: middle;

		  div{
		    overflow: hidden;
    		border-radius: 50%;
		    }
      }

	}
	&-nav{
	  margin: 0;
    max-height: 38px;
		li:first-child {
		  padding: 0;
		}
	}

  }
  &__user-nav{

	li{
	  position: relative;
	  display: inline-block;
	  padding: 0 0 0 16px;
	  vertical-align: middle;
	}
	a{
	  font-size: 14px;
	  color: #333;
	  display: block;
	}
	div{
	  display: inline-block;
      margin: 0 0 0 8px;
      font-size: 14px;
      vertical-align: middle;
	}

  }
}

.submenu-trigger{
  position:relative;
  width:126px;
  height:38px;
  line-height:38px;
}

.submenu2-trigger{
  width:200px;
  height:38px;
  line-height:38px;
  padding-left: 16px;
}

.submenu3-trigger{
  width:200px;
  height:38px;
  line-height:38px;
  padding-left: 16px;
}

.submenu4-trigger{
  width:200px;
  height:38px;
  line-height:38px;
  padding-left: 16px;
}

.submenu-trigger > ul{
  background-color:white;
  min-height:570px;
  min-width:200px;
}

.submenu2-trigger > ul{
  position:absolute;
  left:200px;
  top:38px;
  background-color:white;
  min-height:570px;
  min-width:200px;
}

.submenu3-trigger > ul{
  position:absolute;
  left:200px;
  top:0px;
  background-color:white;
  min-height:570px;
  min-width:200px;
}

.submenu-trigger > ul,
.submenu2-trigger > ul,
.submenu3-trigger > ul{
  display:none;
}

.submenu-trigger:hover > ul,
.submenu2-trigger:hover > ul,
.submenu3-trigger:hover > ul,{
  display:block;

=======
>>>>>>> nagomuohta/master
// パンくず設置
.bread-crumbs-header{
    position: relative;
    border-top: 1px solid #eee;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
    background: #fff;
    height: 50px;
  ul{
    width: 1020px;
    overflow: visible;
    margin: 0 auto;
    padding: 17px 0 16px;
    white-space: normal;
    font-size: 14px;
  }
}
<<<<<<< HEAD

=======
>>>>>>> nagomuohta/master
// if user_signed_in?
.pc-header-login-nav>li {
    display: inline-block;
    margin: 0 0 0 8px;
}

a.sp-header-btn.btn-red-login{
    padding: 0 10px;
    line-height: 30px;
    display: inline-block;
    border-radius: 4px;
    text-align: center;
    line-height: 26px;
    background: #ea352d;
    border: 1px solid #ea352d;
    color: #fff;
    font-size: 14px;
}

a.sp-header-btn.header-login {
    display: block;
    border: 1px solid #0099e8;
    background: #fff;
    color: #0099e8;
    display: inline-block;
    padding: 0 6px;
    border-radius: 4px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
}
