.search-result{
  width:1020px;
  min-height: 1350px;
  margin:40px 210px 0px 210px;
  padding-bottom:40px;
  &_l-side{
    float:left;
    background-color: white;
    height:1200px;
    width:280px;
  }
  &_main{
    width:700px;
    float:right;
    &_text{
      padding-left: 20px;
    }
  }
}

.clearbox{
  clear:both;
}
