body.signinone-body{
  position: relative;
  min-height: 100%;
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  font-size: 14px;
  color: rgb(51, 51, 51);
  line-height: 1;
  background: rgb(245, 245, 245);
}

p.signinone-form-group-text-two2{
  margin: 8px 0 0;
  line-height: 1.5;
  text-align: center;
  font-size: 18px;
}

p.signinone-form-group-text-two3{
  margin: 8px 0 20px 0;
  line-height: 1.5;
  text-align: center;
  font-size: 18px;
}

button.signinone-red-botton-two2{
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  margin: 50px 0 38px 0;
}
