.l-content {
  float: right;
  width: 700px;

  .l-chapter-container {
    background: #fff;

    .l-chapter-head {
      font-size: 24px;
      padding: 8px 24px;
      border-bottom: 1px solid #f5f5f5;
      text-align: center;
    }
    .profile-user-name {

      .setting-profile-icon {
        padding: 72px 16px 24px;
        background: url(user-backgorund);
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        font-size: 0;

        figure {
          display: inline-block;
          overflow: hidden;
          width: 60px;
          height: 60px;
          border-radius: 50%;
          vertical-align: middle;
        }

        .input-default {
          width: 220px;
          margin: 0 0 0 8px;
          vertical-align: middle;
        }
      }
      .setting-profile-content {
        padding: 40px 16px;

        .textarea-default {
          min-height: 216px;
          display: block;
          width: 100%;
          border: 1px solid #ccc;
          background: #fff;
          font-size: 16px;
          line-height: 1.5;
        }

        .btn-default {
          margin: 16px 0 0;
          display: block;
          width: 100%;
          line-height: 48px;
          font-size: 14px;
          border: 1px solid transparent;
          transition: all ease-out .3s;
          transition: all ease-out .3s;
          cursor: pointer;
          text-align: center;
        }

        .btn-red {
          background: #ea352d;
          border: 1px solid #ea352d;
          color: #fff;
        }
      }
    }
  }
}

