.l-container.clearfix {
  margin: 40px auto;
  height: 100%;
  width: 1020px;

  .l-content {
    float: right;
    width: 700px;

    .mypage-user-icon {
      position: relative;
      background-repeat: no-repeat;
      background-size: cover;
      text-align: center;
      height: 160px;

      .user-icon {
        padding: 20px;
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translate(0, -50%);
        color: #333;
        text-decoration: none;

        .user-image {
          overflow: hidden;
          width: 60px;
          height: 60px;
          margin: 0 auto;
          border-radius: 50%;

          .user-image_top {
            vertical-align: middle;
            border-radius: 30px;
          }
        }

        .mypage-user-name {
          margin: 8px 0 0;
        }
        .mypage-number {
          margin-top: 8px;
          .mypage-number_detail {
            display: inline-block;
          }
        }
      }
    }
    .mypage-tab-container {
      background-color: #fff;

      .mypage-tab-head {
        padding: 0 16px;
        background: #fafafa;
        font-size: 16px;
        line-height: 72px;
        margin: 40px 0 0;
      }

      .mypage-tab[type="radio"] {
        display: none;
      }

      .mypage-tabs {
        padding-inline-start: 0;
        margin-block-start: 0;
        margin-block-end: 0;
        background-color: #eee;

        .tab_label {
          text-decoration: none;
          line-height: 72px;
          width: 49.5%;
          display: inline-block;
          text-align: center;
          cursor: pointer;
          transition: ease 0.2s opacity;
          color: #333;
          font-size: 16px;
          font-weight: bold;

          &:hover{
            opacity: 0.7;
          }
        }
      }
      .tab-content {
        background-color: #fff;

        .mypage-item-list {
          display: none;
          width: 100%;
          list-style-type: none;
          padding-inline-start: 0;
          margin: 0;
          padding: 0;

          .mypage-go-list {
            list-style-type: none;
            padding: 16px;
            height:50px;

            .mypage-go {
              position: relative;
              display: block;
              height: 56px;
              margin: 0 auto;
              background: #eee;
              color: #333;
              line-height: 56px;
              text-align: center;
              text-decoration: none;

              &:hover {
                background-color: #f9f9f9;
              }
            }
          }

          li {
            border-bottom: 1px solid #eee;
            position: relative;
            text-decoration: none;

            .mypage-item-link {
              display: block;
              min-height: 50px;
              color: #333;
              text-decoration: none;
              padding: 16px;

              &:hover {
                background-color: #f9f9f9;
              }

              figure {
                overflow: hidden;
                float: left;
                position: relative;
                padding: 0;
                margin: 0;

                .lazyloaded {
                  width: 48px;
                  height: 48px;
                }
              }
              .mypage-item-body {
                margin: 0 40px 0 68px;

                .mypage-item-text {
                  overflow: hidden;
                  max-height: 4.4em;
                  text-overflow: ellipsis;
                  line-height: 1.5;
                }
                time {
                  display: inline-block;
                  color: #888;

                  .fa-clock-o {
                    margin: 0 8px 0 0;
                  }
                }
              }
              .fa-chevron-right {
                position: absolute;
                top: 50%;
                right: 16px;
                color: #333;
              }
            }
          }
        }
        .mypage-item-not-found {
          padding: 160px 0 60px;
          background: url(marcari-gray-icon);
          background-repeat: no-repeat;
          background-position: center 40px;
          background-size: 78px 85px;
          text-align: center;
          font-size: 16px;
          color: #ccc;
          font-weight: bold;
        }
      }
    }
  }
  .l-side {
    float: left;
    width: 280px;
    margin-right: 40px;
    margin-bottom: 40px;

    .mypage-nav-head {
      margin: 40px 0 0;
      font-size: 16px;
      font-weight: bold;
    }

    .mypage-nav {

      .mypage-nav-list {
        padding-inline-start: 0;
        margin-block-start: 0;
        margin-block-end: 0;

        li {
          border-top: 1px solid #eee;
          list-style: none;
          transform: none;

          a:hover {
            background-color: #f9f9f9;
          }

          a:hover > .fa {
            transform:translateX(5px);
            color: #333;
          }

          .mypage-nav-list-item {
            position: relative;
            display: block;
            min-height: 16px;
            padding: 16px;
            background: #fff;
            color: #333;
            text-decoration: none;
            transform: none;

            .fa {
              position: absolute;
              top: 18px;
              right: 16px;
              color: #ccc;
            }
          }
        }
      }
    }
  }
}

#tab1:checked ~ .mypage-tabs .tab1_label,
#tab2:checked ~ .mypage-tabs .tab2_label,
#tab3:checked ~ .mypage-tabs .tab3_label,
#tab4:checked ~ .mypage-tabs .tab4_label {
background:#fff;
border-top: 2px solid #ea352d;
}
#tab1:checked ~ .tab-content #panel1,
#tab2:checked ~ .tab-content #panel2,
#tab3:checked ~ .tab-content #panel3,
#tab4:checked ~ .tab-content #panel4 {
display:block;
}
