%body.login-all
  = render 'products/productheader'
  %div
    %header.login__header
    %main.login__main-2.signin__main
      .login__main-2__panel-2
        .login__main-2__no-account
          %p.login__main-2__no-account-p-2
            新規会員登録
        .login__main-2__form
          %a.btn-default.btn-mail{href: "/deviseusers/registrations/signininformation"}
            %i.icon-mail
            メールアドレスで登録
          %button#facebook-login.btn__sns-2.btn__sns-2-facebook-2
            %i.fab.fa-facebook-square
            Facebookで登録
          %button#google-login.btn__sns-2.btn__sns-2-google-2
            %i.fab.fa-google-plus
            Googleで登録
    %footer.login__footer
      = render 'products/productfooter'
