%footer.products_new_contents-footer
  %nav.products_new_footer_nav
    %ul.clearfix.products_new_footer_ul
      %li.products_new_footer_li
        %a.produts_new_footer_a{href: "https://www.mercari.com/jp/privacy/"} プライバシーポリシー
      %li.products_new_footer_li
        %a.produts_new_footer_a{href: "https://www.mercari.com/jp/tos/"} メルカリ利用規約
      %li.products_new_footer_li
        %a.produts_new_footer_a{href: "https://www.mercari.com/jp/tokutei/"} 特定商取引に関する表記
  %a.produts_new_footer_a.content-footer-image{href: "https://www.mercari.com/jp/"}
    %img.products_footer_new_img{alt: "mercari", height: "65", src: "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?2540802024", width: "80"}/
  %p.products_new_footer_p
    %small.products_new_footer.small © 2019 Mercari
