%aside.app-banner
  .app-banner__main
    .app-banner__main-inner
      %h2.app-banner__main-h2 スマホでかんたんフリマアプリ
      %p.app-banner__main-p 今すぐ無料ダウンロード
      .app-banner__icon.clearfix
        %figure.app-banner-figure
          %img{alt: "", src: "//www-mercari-jp.akamaized.net/assets/img/common/common/mercari_icon.png?3407889314", width: "68"}/
        %figure.app-banner-figure
          %ul.clearfix
            %li.app-banner-li
              %a{href: "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8", target: ""}
                %img{alt: "", height: "40", src: "//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?3407889314", width: "133"}/
            %li.app-banner-li
              %a{href: "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja", target: ""}
                %img{alt: "", height: "40", src: "//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?3407889314", width: "133"}/
    = succeed "" do
      %figure.app-banner-figure
        .app-banner__main--right
          = image_tag 'メルカリ_appbanner_content.png', class: "app-banner-image_tag"
