.products_buyconfirm
  = render 'productheader'
  .products_buyconfirm_content
    %h2 購入を確定しますか？
    .products_buyconfirm_content_item
      .products_buyconfirm_content_item_image
        = image_tag('dra.jpeg', :class => "products_buyconfirm_content_item_image_content")
      %p.products_buyconfirm_content_item_name ドラえもん量産型 2082年式
      .products_buyconfirm_content_item_form
        %p.products_buyconfirm_content_item_form_price
          ¥ 999,999,999
          %span.products_buyconfirm_content_item_form_price_ship 送料込み
        .products_buyconfirm_content_item_form_point
          ポイントはありません
        .products_buyconfirm_content_item_form_total
          .products_buyconfirm_content_item_form_total_left
            支払い金額
          .products_buyconfirm_content_item_form_total_right
            ¥ 999,999,999
        %p.products_buyconfirm_content_item_form_message 配送先と支払方法の入力を完了してください
        .products_buyconfirm_content_item_form_buybtn
          購入する
    %section.products_buyconfirm_content_address
      .products_buyconfirm_content_address_box
        %h3 配送先
        %address
          〒xxx-xxxx
          %br/
          xxx県 xx市xx区
          xxx x-x-x
          xxxxxxxxxxxxxxxxxxxxxxx
          %br/
          野比 のび太
        %p
        %a{:href => "#"}
          %span 変更する &gt;
    %section.products_buyconfirm_content_howbuy
      .products_buyconfirm_content_howbuy_box
        %h3 支払方法
        %div
          xxx
        %p
        %a{:href => "#"}
          %span 変更する &gt;
  = render 'productfooter'
