<div class = products_create>
  <div class = products_create_header></div>
  <div class = products_create_content>
    <h2>購入を確定しますか？</h2>
    <div class = products_create_content_item>
      <div class= products_create_content_item_image>
        <%= image_tag('dra.jpeg', :class => "products_create_content_item_image_content") %>
      </div>
      <p class = "products_create_content_item_name">ドラえもん量産型 2082年式</p>
      <div class = products_create_content_item_form>
        <p class="products_create_content_item_form_price">¥ 999,999,999
          <span class="products_create_content_item_form_price_ship">送料込み</span>
        </p>
        <div class = products_create_content_item_form_point>
          ポイントはありません
        </div>
        <div class = products_create_content_item_form_total>
          <div class = products_create_content_item_form_total_left>
            支払い金額
          </div>
          <div class = products_create_content_item_form_total_right>
            ¥ 999,999,999
          </div>
        </div>
        <p class = products_create_content_item_form_message>配送先と支払方法の入力を完了してください</p>
        <div class = products_create_content_item_form_buybtn>
          購入する
        </div>
      </div>
    </div>
    <section class="products_create_content_address">
      <div class="products_create_content_address_box">
        <h3>配送先 </h3>
        <address>
          〒xxx-xxxx
          <br>
          xxx県 xx市xx区
          xxx x-x-x
          xxxxxxxxxxxxxxxxxxxxxxx
          <br>
          野比 のび太
        </address>
        <p></p>
        <a href="#"><span>変更する ></span></a>
      </div>
    </section>
    <section class="products_create_content_howbuy">
      <div class="products_create_content_howbuy_box">
        <h3>支払方法 </h3>
        <div>
          xxx
        </div>
        <p></p>
        <a href="#"><span>変更する ></span></a>
      </div>
    </section>
  </div>
  <div class = products_create_footer></div>
</div>
